secret*
*[lL]og*.txt
*.log
*.db*
*.sqlite

/volumes/*
/mosquitto
/hass/certs
/hass/zwcfg*.xml
/hass/zwscene.xml
/hass/service_account.json
/hass/known_devices*
/hass/options.xml
/hass/harmony_6042342.conf
/hass/harmony_yharmony.conf
/hass/tts/

__pycache__/

[Bb]in/
[Oo]bj/

.*
!.editorconfig
!/.gitignore
!/hass/.HA_VERSION
!.stubs/
!.stubs/**
!.github/
!.github/**
!/volumes/docker-postgresql-multiple-databases
