secret*.yaml
*[lL]og*.txt
*.log
*.db
*.sqlite

/mosquitto
/hass/certs
/hass/zwcfg*.xml
/hass/zwscene.xml
/hass/service_account.json
/hass/known_devices*
/hass/options.xml
/hass/harmony_6042342.conf
/hass/harmony_yharmony.conf
/hass/tts/

__pycache__/

.*
!/.travis.yml
!/travis_dummy/*
!/.gitignore
!/hass/.HA_VERSION
!/hass/.editorconfig
