secret*.yaml
*[lL]og*.txt
*.log
*.db
*.sqlite

/zwcfg*.xml
/zwscene.xml
/service_account.json
/known_devices*
/options.xml
/harmony_6042342.conf
/harmony_yharmony.conf
/tts/

__pycache__/

.*
!/.gitignore
!/.HA_VERSION
!/.editorconfig
