[submodule "alarm/Paradox_IP150"]
	path = alarm/Paradox_IP150
	url = https://github.com/maisken/Paradox_IP150
[submodule "hass/external_dependencies/upnp"]
	path = hass/external_dependencies/upnp
	url = https://github.com/rytilahti/homeassistant-upnp-availability
[submodule "hass/external_dependencies/adaptive-cover"]
	path = hass/external_dependencies/adaptive-cover
	url = https://github.com/basbruss/adaptive-cover
