[submodule "alarm/Paradox_IP150"]
	path = alarm/Paradox_IP150
	url = https://github.com/yp87/Paradox_IP150.git
[submodule "leaf2mqtt"]
	path = leaf2mqtt
	url = https://github.com/yp87/leaf2mqtt
[submodule "hass/external_dependencies/tesla"]
	path = hass/external_dependencies/tesla
	url = https://github.com/alandtse/tesla
