[submodule "alarm/Paradox_IP150"]
	path = alarm/Paradox_IP150
	url = https://github.com/yp87/Paradox_IP150.git
[submodule "ypocpp"]
	path = hass/external_dependencies/ocpp
	url = https://github.com/yp87/ocpp.git
